@import './resources/mixins/mixins';

body {
   font-family: sans-serif;
   background-color: $color-grey;
}

.basket {
   background: $white;
   width: 35%;
   margin: 60px auto;
   border-radius: 6px;
   overflow: hidden;
   .inner {
      padding: 15px;
   }
   input {
      width: 26px;
      padding-left: 10px;
   }
}

.item {
   @include flex;
   font-size: 1em;
   border-bottom: dashed 2px $color-border;
   letter-spacing: 2px;
   .item-name {
      color: $color-dimgrey;
      flex-grow: 1;
      line-height: 3;
      min-width: 200px;
      display: inline-block;
   }
}

.item-cost {
   color: $color-coral;
}

.remove-item {
   font-size: 1.15em;
   border: none;
   outline: none;
   color: $color-grey;
   cursor: pointer;
   background: none;
   visibility: visible;
}

i {
   border: solid $light-white;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 4px;
}

.clearBtn:hover {
   cursor: pointer;
}

.checkoutBtn {
   width: 130px;
   display: inline-block;
   font-size: 0.8em;
   margin-top: 12px;
   padding: 15px 6px;
   background-color: $color-btn;
   border-radius: 5px;
   border: none;
   color: $white;
   letter-spacing: 2px;
   font-weight: bold;
   text-shadow: none;
   cursor: pointer;
   .arrow {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
   }
}

table {
   width: 100%;
}

tr {
   @include flex;
   td {
      &:first-child,
      &:nth-child(2) {
         flex-grow: 1;
         text-align: center;
         font-weight: bold;
         color: $color-dimgrey;
      }
      &:nth-child(2) button {
         border: none;
         font-size: 1em;
         color: $color-dimgrey;
      }
   }
}